.wrapper {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.body {
  width: 80%;
  @media (max-width: 1100px) {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.row {
  display: table-row;
  position: relative;
  &_item {
    cursor: pointer;
    &:hover {
      .cell {
       transform: scale(1.1);
      }
    }
    &_loading {
      pointer-events: none;
    }
  }
}

.cell {
  display: table-cell;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  position: relative;
  transition: transform 300ms ease-in-out;
  transform-origin: left;
  &.name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &.email {
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &.actionsHeader {
    text-align: right;
  }
  &_loading {
    .cell_text {
      opacity: 0;
    }
    &:after {
      content: "";
      position: absolute;
      //background-color: rgb(var(--foreground-rgb));
      background:  linear-gradient(to right, rgb(var(--background-start-rgb)), rgb(var(--foreground-rgb)),rgb(var(--background-start-rgb)));
      background-size: 200%;
      background-position: left;
      opacity: 0.6;
      display: inline-block;
      height: 1.5rem;
      width: 80%;
      border-radius: 1rem;
      vertical-align: middle;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      animation: load 2s ease-out 0s infinite normal;
    }
    &_actions {
      &:after {
        right: 0;
        left: auto;
      }
    }
  }
}

.header {
  .cell {
    font-weight: bold;
    font-size: 2rem;
    min-width: 10rem;
  }
}
.actions {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap:.5rem;
}
.action {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  border-radius: 1rem;
  padding: .3rem .9rem;
}
.image {
  top: 30%;
  position: fixed;
  width: 20%;
  right: 7rem;
  padding-top: 25%;
  img {
    position: absolute;
    top: 0;
    opacity: 0;
    filter: grayscale(100%);
    object-fit: cover;
    &.active {
      opacity: 1;
    }
  }
  @media (max-width: 1100px) {
    display: none;
  }
}
.notFound {
  width: 100%;
  text-align: center;
}
@keyframes load{
  0%, 100%{
    background-position: right;
  }
  50%{
    background-position: left;
  }
}