.container {
  position: absolute;
  right: 2rem;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.5rem;
  svg,div {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.mode {
  &_hide {
    display: none;
  }
}